.container {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.square {
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}